@mixin dashboard-common {

  .valo-menu {
    .badgewrapper {
      position: relative;
      padding: 0 !important;
    }

    @include animation(valo-animate-in-slide-right 500ms 300ms backwards);
  }

  .valo-menu-badge,
  .dashboard-view .notifications.unread .v-button-caption {
    @include valo-badge-style;
    position: absolute;
    right: round($v-unit-size/3);
    font-size: round($v-font-size * 0.9);
    pointer-events: none;
  }

  .dashboard-view .notifications.unread .v-button-caption {
    display: block;
    top: round($v-unit-size / -5);
    right: round($v-unit-size / -5);
    display: block;
    z-index: 1;
  }

  .moviedetailswindow {
    max-height: 450px;
    max-width: 730px;

    .footer {
      padding: 20px;
    }

    .details {
      white-space: nowrap;
    }

    .v-formlayout {
      border-left: 220px solid transparent;
      position: absolute;
      left: 0;
    }

    .cover {
      margin: 10px;
      border-radius: 4px;
    }

  }

  .moviedetailswindow[width-range~="0-500px"] {
    .details {
      white-space: normal;
    }

    .v-formlayout {
      border-left: none;
      position: relative;
    }
  }

  .mainview {

  }

  .viewheader {
     padding-bottom: $view-padding;

    @include width-range($max: 600px) {
      padding-bottom: round($v-unit-size / 2);

      .h1 {
        font-size: 30px;
      }
    }
  }
}
