@mixin dashboard-common {

  .valo-menu {
    .badgewrapper {
      position: relative;
      padding: 0 !important;
    }

    @include animation(valo-animate-in-slide-right 500ms 300ms backwards);
  }

  .valo-menu .valo-menu-badge,
  .dashboard-view .notifications.unread .v-button-caption {
    @include valo-badge-style;
    position: absolute;
    right: round($v-unit-size/3);
    font-size: round($v-font-size * 0.9);
    pointer-events: none;
  }

  .dashboard-view .notifications.unread .v-button-caption {
    display: block;
    top: round($v-unit-size / -5);
    right: round($v-unit-size / -5);
    display: block;
    z-index: 1;
  }

  .moviedetailswindow {
    max-height: round(28 * $v-font-size);
    width: round(50 * $v-font-size);
    max-width: 90%;

    .cover,
    .v-slot-cover {
      max-width: 100%;
      width: 200px;
      position: relative;
    }

    .cover {
      @include box-shadow(valo-bevel-and-shadow($shadow: $v-overlay-shadow));
      border-radius: $v-border-radius;
    }

    .v-slot-cover {

      &:after {
        content: "";
        display: block;
        background: url(img/poster-gloss.png) no-repeat top right;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    @include width-range($max: round(40 * $v-font-size)) {
      .v-expand {
        padding-left: 0 !important;
      }

      .v-slot {
        display: block;
      }

      .v-slot-cover {
        margin: 0 auto !important;
      }
    }

    .v-button-link {
      padding: 0;
      height: auto;
    }

  }

  .viewheader {
    padding-bottom: $view-padding;
    width: 100%;
    text-align: right;
    white-space: normal;

    .v-slot-h1 {
      float: left;
    }

    .h1 {
      white-space: normal;
    }

    @include width-range($max: 700px) {
      padding-bottom: round($v-unit-size / 2);
      text-align: left;

      .v-slot-h1 {
        float: none;
      }

      .h1 {
        font-size: round($v-font-size--h1 * 0.8);
      }

      > .v-slot {
        display: block;
      }

      .toolbar {
        white-space: normal;

        > .v-spacing {
          height: round($v-unit-size / 4);
        }
      }
    }
  }
}
