@mixin dashboard-dashboard-view {

  .dashboard-view.dashboard-view {
    padding: $view-padding;
    overflow: visible;

    .sparks {
      @include valo-panel-well-style;
      margin-bottom: $v-layout-spacing-vertical;

      @include width-range($max: 680px) {
        .v-sparkline {
          width: 50%;
        }
      }

      @include width-range($max: 350px) {
        .v-sparkline {
          width: 100%;
          border-left: none;
          border-top: valo-border($strength: 0.5);

          &:first-child {
            border-top: none;
          }
        }
      }
    }

    .v-sparkline {
      font-family: inherit;
      float: left;
      text-align: center;
      width: 25%;
      padding: $v-layout-spacing-vertical $v-layout-spacing-horizontal;
      border-left: valo-border($strength: 0.5);

      > tbody {
        display: inline-block;
      }

      &:first-child {
        border-left: none;
      }
    }

    .dashboard-panel-toolbar {
      padding: 1px 0 1px round($v-unit-size / 1.8);
      height: $v-unit-size + 2px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .dashboard-panels {
      display: block;
      height: 100%;
      margin: 0 round($view-padding / -3);

      .card {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: $v-unit-size + 2px round($v-unit-size / 1.8) 0;
        position: relative;

        .v-table, .v-table-table {
          background: transparent;
        }
      }

      .dashboard-panel-slot {
        padding: round($view-padding / 3);
        min-height: 250px;
      }

  	  &[width-range~="0-700px"] {
  	    .dashboard-panel-slot {
  	      width: 100%;
  	    }
  	  }

  	  &[width-range~="701px-"] {
  	    .dashboard-panel-slot {
  	      width: 50%;
  	    }
  	  }

      &[height-range~="0-500px"] {
  	    .dashboard-panel-slot {
  	      height: 100%;
  	    }
  	  }

  	  &[height-range~="501px-"] {
  	    .dashboard-panel-slot {
  	      height: 50%;
  	    }
  	  }

      .dashboard-panel-slot.max {
        width: 100%;
        height: 100%;
      }

      .notes {
        .card {
          padding: $v-unit-size + 2px 0 0;
        }

        .v-textarea {
          border-top: valo-border($strength: 0.5);
          padding: 20px 20px 0;
          line-height: 20px;
          font-size: 14px;
          background: #fffdf2 url(../img/notes-bg.png) repeat;
          background-attachment: local;
          color: #545145;
          overflow: auto;
        }
      }
    }

  }

  .notifications.v-window {
    overflow: visible !important;
    // top: 3 * $v-unit-size !important;
    right: $view-padding;
    left: auto !important;
    max-width: 90%;

    $window-outline: $v-overlay-shadow;
    @if list-of-lists($window-outline) {
      $window-outline: last($v-overlay-shadow);
    }
    $window-outline: flatten-list(valo-bevel-and-shadow($bevel: null, $shadow: $window-outline));
    $outline-width: nth($window-outline, length($window-outline) - 1);
    $outline-color: last($window-outline);

    @include transform-origin(296px - (2 * $v-unit-size - round($v-unit-size / 3)) -7px);

    &.v-window-animate-in {
      @include animation(animate-in-scale-up 260ms cubic-bezier(.68,.37,.51,1.37));
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: -14px;
      right: 2 * $v-unit-size - round($v-unit-size / 3);
      border: 7px solid transparent;
      width: 0;
      height: 0;
      border-bottom-color: $v-window-background-color;
    }


    &:before {
      @if type-of($outline-width) == number and $outline-width > 0 {
        top: -15px - 2 * $outline-width;
        margin-right: -$outline-width;
        border-width: 7px + $outline-width;
        border-bottom-width: 8px;
        border-bottom-color: $outline-color;
      } @else {
        content: none;
      }
    }

    .v-window-header {
      color: $v-selection-color;
    }

    .v-window-outerheader:after,
    .v-scrollable:before {
      display: none;
    }

    .notification-item {
      font-size: round($v-font-size * 0.9);
    }

    .notification-title {
      font-weight: $v-font-weight + 200;
    }

    .notification-time {
      font-size: round($v-font-size * 0.8);
      color: valo-font-color($v-window-background-color, .5);
    }

  }
}
