@mixin dashboard-sales-view {
	
	.sales {
	
		.v-timeline:focus {
			outline: none;
		}
		
		.v-timeline-widget-modelegend {
			background: transparent;
			width: 100% !important;
			overflow: auto;
			display: inline-block;
			height: auto !important;
			padding: 0 10px;
		}
		
		
		
		.v-timeline-widget-display .gwt-HTML {
			left: 0 !important;
			width: 100%;
			text-align: center;
			top: 40% !important;
			margin-top: -.5em;
		}
		
		.v-timeline-widget-display-bottombar {
			background: transparent; 
		}
		
		.v-timeline-widget-legend-value {
			font-size: 12px;
			line-height: 16px;
			color: #979699;
			height: 18px !important;
		}
		
		.v-timeline-widget-legend-label {
			font-size: 13px;
		}
		
		.toolbar {
			
			padding: 0 37px 20px;
			
			.v-button.primary,
			.v-filterselect {
				margin-right: 10px;			
			}
			
			.v-filterselect {
				margin-bottom: 10px;
				
				.v-ui[width-range~="0-800px"] & {
					display: block;
				}
			}
			
			.clearbutton {
				float: right;
			
				.v-ui[width-range~="0-800px"] & {
					float: none;
				}
			}
		}
	}
	

}