@mixin dashboard-transactions-view {

  .transactions .viewheader {
    padding: 37px;

    .h1 {
      padding-right: 40px;

      .v-ui[width-range~="0-1000px"] & {
        padding-bottom: 10px;
        display: block;
      }
    }

    .v-textfield {
      margin-right: 10px;

      .v-ui[width-range~="0-1000px"] & {
        width: 100%;
      }
    }

    .v-button {
      float: right;

      .v-ui[width-range~="0-1000px"] & {
        margin-top: 10px;
        float: none;
      }
    }
  }

}
